.main_container{
  /* min-width: max-content; */
  width: fit-content;
  max-width: 100%;
  overflow-x: scroll;
  max-height: 480px;
  overflow-y: scroll;
  border-radius: 5px;
  border: 1px solid black;
}

.main_container table {
    border: 1px #a39485 solid;
    font-size: .9em;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    width: max-content;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .main_container th {
    text-align: left;
  }
    
  .main_container thead {
    font-weight: bold;
    color: #fff;
    background: #73685d;
  }
  .main_container tr{
    cursor: pointer;
  }
    
  .main_container td {
    padding: 1em .5em;
    vertical-align: middle;
  }
  .main_container th{
    padding: 1em .5em;
    vertical-align: middle;
  }
    
  .main_container td {
    border-bottom: 1px solid rgba(0,0,0,.1);
    background: #fff;
  }
  
  .main_container a {
    color: #73685d;
  }

  .part_container{
    display: flex;
    align-items: center;
  }
  .part_container h1{
    color: blue;
    padding-right: 10px;
    display: flex;
    align-items: center;
  }
  .part_container h2{
    color: red;
    padding-right: 10px;
    display: flex;
    align-items: center;
  }
    
   /* @media all and (max-width: 768px) {
      
    .main_container table, thead, tbody, th, td, tr {
      display: block;
    }
    
    .main_container th {
      text-align: right;
    }
    
    .main_container table {
      position: relative; 
      padding-bottom: 0;
      border: none;
      box-shadow: 0 0 10px rgba(0,0,0,.2);
    }
    
    .main_container thead {
      float: left;
      white-space: nowrap;
    }
    
    .main_container tbody {
      overflow-x: auto;
      overflow-y: hidden;
      position: relative;
      white-space: nowrap;
    }
    
    .main_container tr {
      display: inline-block;
      vertical-align: top;
    }
    
    .main_container th {
      border-bottom: 1px solid #a39485;
    }
    
    .main_container td {
      border-bottom: 1px solid #e5e5e5;
    }
    
    
    } */