.schedule_container{
  
}
.schedule_container h1{
  font-size: 16px;
}

.color_container{
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.color_container p{
  font-size: 15px;
  margin-right: 10px;
}
.dot{
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-right: 5px;
}
.red {
  background-color: #FF4136; /* A bright red color */
  }
  
  .orange {
  background-color: #FF851B; /* A bold orange color */
  }
  
  .yellow {
  background-color: #FFDC00; /* A vibrant yellow color */
  }
  
  .green {
  background-color: #2ECC40; /* A fresh green color */
  }
  
  .blue {
  background-color: #0074D9; /* A bright blue color */
  }
  
  .purple {
  background-color: #8F3B76; /* A dark purple color */
  }

  .button_container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }