.alert_container{
  /* position: fixed;
  display: flex;
  justify-content: flex-end;
  right: 0;
  width: 100%;
  transition: .65s;
  z-index: 99999999; */
  position: fixed;
  right: 0;
  bottom: 0;
  width: 400px;
  z-index: 9999999;
  transition: .65s;
}
.alert_hide{
  bottom: -50px !important;
}