.main_container{
    width: 100%;
    margin-bottom: 19px;
  }
  .main_container h1{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  .main_container p{
    font-size: 14px;
    color: #555;
  }