
.main_container{
  /* vertical-align: bottom;
  display: table-cell; */
  /* width: 100%; */
}

.chat_container{
  /* min-height: ; */
  /* width: 100%; */
  max-height: 405px;
  /* height: 100%; */
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px;
  overflow-y: scroll;
}
.chat_container .no_chat{
  font-size: 14px;
  margin-bottom: 10px;
}
.input_container{
  display: flex;
  min-height: 25px;
  align-items: center;
  margin-bottom: 15px;
}


.chat_container ul{
  width: 100%;
}
.chat_container h1{
  text-align: center;
  font-size: 13px;
}
.text_container{
  margin: 9px 3px;
  display: flex;
  width: 100%;
  align-items: flex-end;
}
.my_text{
  justify-content: right;
}
.other_text{
  justify-content: left;
}
.text_container li{
  display: flex;
  flex-wrap: wrap;
  padding: 6px 10px;
  
  border-radius: 5px;
  align-items: flex-end;
  max-width: 350px;
}
.text_container.my_text li{
  background-color: rgb(231, 215, 255);
}
.text_container.other_text li{
  background-color: #f1f1f1;
}
.text_container p{
  font-size: 4px !important;
  padding: 0 5px;
}
.text_container h4{
  white-space: pre-line;
  font-weight: normal;
  font-size: 15px;
}