.main_container{
    /* height:fit-content; */
}

.percentage_container{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.comments_container{
    border: 1px solid rgb(233,233,233);
    border-radius: 5px;
}

.input_container{
    border: 1px solid rgb(211, 211, 211);
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 15px;
}
.input_container .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
}
.title{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
.comment_container{
    padding: 20px 10px;
    border-bottom: 1px solid rgb(244,244,244);
    /* margin-bottom: 15px; */
}
.comment_container h1{
    font-size: 11px;
    display: flex;
}
.comment_container h2{
    font-size: 15px;
    margin-top: 4px;
}

.delete_button{
    color: rgb(182,0,0);
    margin-left: 10px;
    cursor: pointer;
}