.memo_container{

}

.memo_container h1{
  font-size: 16px;
  margin-bottom: 5px;
}
.memo_container p{
  font-size: 13px;
  margin-bottom: 15px;
}
.button_container{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}