.body_container{
  width: 100vw;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 15vh;
}


.left_container{
  width: 45vw;
}
.folder_container{
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.folder_container img{
  width: 20vw ;
}
.folder_container h1{
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.middle_container{
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.middle_container h1{
  font-size: 40px;
  font-weight: bold;
  color: #444;
}

.right_container{
  width: 45vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.right_top_container{
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.item_container{
  /* width: 22vw; */
  margin-right: 30px;
}
.item_container img{
  width: 13vw;
  cursor: pointer;
  /* transition: .8s; */
}
/* .item_container img:hover{
  width: 14vw
} */

.button_container {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center !important  ;
  align-items: center;
}
.button{
  padding: 15px 30px;
  color: white;
  background-color: rgb(100,100,100);
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  width: fit-content  ;
}
.active{
  background-color: green;

}