/* .main_container{
  background-color: white;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
  overflow: hidden;
  padding: 10px 25px;
  margin-top: 20px;
} */

.item_container{
  display: flex;
  align-items: center;
  /* margin: 10px 0; */
}
.item_container h1{
  font-size: 15px;
  width: 100px;
}


.checkbox{
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.checkbox p{
  font-size: 14px;
}

.border{
  margin: 20px 0;
  border: .5px solid rgb(211,211,211);
}


.text_container{
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.text_container h1{
  font-size: 15px;
  width: 123px;
}

.info_container{  
  display: flex;
}
.info_container h1{
  font-size: 15px;
  width: 110px;
}
.info_item_container .item{
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  margin-bottom: 10px;
  /* align-items: center; */
}
.info_item_container .item h1{
  width: 50px !important
}

.item2{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
}