.main_container{
  display: flex;
  margin-top: 30px;
  border: 1px solid #999;
  border-radius: 9px;
  overflow-x: hidden;
}

.left_container{
  width: 225px;
  border-right: 1px solid #999;
  padding: 0px;
  overflow-y: scroll;
  height: 470px;
}
.item_container{
  cursor: pointer;
  height: 50px;
  padding: 2px 10px ;
  border-bottom: 1px solid rgb(222,222,222);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.item_container.selected{
  background-color: rgb(240,240,240);
}
.top_container{
  display: flex;
  width: 210px;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 7px;
}
.top_container h1{
  font-size: 13px;
}
.top_container h2{
  font-size: 9px;
  color: #555;
}

.bottom_container{
  display: flex;
}
.message{
  font-size: 10px;
  color: #555;;
  line-height: 1.13;
  flex:1;
}
.unread_container{
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.unread_container p{
  font-size: 10px;
  color: white;
  background-color: rgb(255, 64, 0);
  padding: 2px 5px;
  border-radius: 10px;
}



.right_container{
  flex: 1;
  padding-left: 10px;
}