.main_container{
  /* width: 100%; */
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
}
.container{
  display: flex;
  align-items: center;
  height: 30px;
  width: 100%;
}
.container p{
  font-size: 14px;
}
.item_container{

  width: 100%;
}

.quill{
  width: 100%;
  height: 700px;
  z-index: 99999999;
}