.main_container{
  width: 100%;
}
.swiper {
  width: 100%;
  /* max-width: 350px; */
  height: 620px;
}

/* .swiper_container::before {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    -webkit-filter: blur(5px); 
    -moz-filter: blur(5px); 
    -o-filter: blur(5px); 
    -ms-filter: blur(5px); 
    filter: blur(5px);
    transform: scale(1.02);
    z-index: -1; 
    content: "";
} */

.swiper_container .image_container{
  height: 410px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.blur{
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top:0;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0,0,0, 0.2),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0));
  backdrop-filter: blur(9px);
  word-break: keep-all;
  padding-bottom: 20px;
}
.swiper_container .overlay{
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.overlay .overlay_container{
  width:100%;
}
.overlay .content h2{
  margin: 110px 30px 10px 30px;
  color: rgb(224, 224, 100);
  /* color: rgb(224, 224, 100); */
  font-size: 23px;
  font-weight: bold;
  font-family: 'Jua', sans-serif !important;
  letter-spacing: 1.5px;
}
.overlay .content h3{
  margin: 10px 30px 10px 30px;
  color: white;
  font-size: 30px;
  /* font-weight: bold; */
  font-family: 'Jua', sans-serif !important;
  letter-spacing: 1px;
  word-break: keep-all;
  line-height: 1.3;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.overlay .content h4{
  color: white;
  margin: 30px 30px 10px 30px !important;
  font-family:'Nanum Gothic', sans-serif !important;
  font-weight: bold;
  font-size: 15px;
  white-space: pre-line;
  line-height: 1.3;
}


.overlay .thumbnail_container{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  position: relative;
  width: 100%;
}
.thumbnail_container .thumbnail_image_container{
  position: relative;
  width: 356.4px;
  height: 215.6px;
  overflow: hidden;
  border-radius: 5%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.thumbnail_overlay{
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  margin: 30px 20px;
  width: 200px;
  height: 150px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.thumbnail_overlay.white{
  color: white;
}
.thumbnail_overlay.black{
  color: black;
}
.thumbnail_overlay h2{
  font-family: 'Nanum Gothic', sans-serif !important;
  font-weight: bold;
  font-size: 16px;
}
.thumbnail_overlay h3{
  font-family: 'Jua', sans-serif !important;
  font-size: 22px;
  word-break: keep-all;
  line-height: 1.3;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.thumbnail_overlay h4{
  font-size: 13px;
  word-break: keep-all;
  line-height: 1.2;
}

.button_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  
}
.button{
  font-family: 'Jua', sans-serif !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  font-size: 16px !important;
}