.main_container{
  margin: 0 300px;
  padding: 50px 20px;
  display: flex;
  background-color: rgb(255, 255, 255);box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.75);
  overflow: scroll;
  height: calc(100vh - 100px);
}
.prev_container{
  position: absolute;
  top:20px;
  left: 20px; 
  cursor: pointer;
  transition: 1s;
}
.prev_container:hover{
  color: rgb(189, 39, 39);
  left: 10px;
}
.next_container{
  position: absolute;
  top:20px;
  right: 20px; 
  cursor: pointer;
  transition: 1s;
}
.next_container:hover{
  color: rgb(32, 32, 211);
  right: 10px;  
}


.img_container{
  width: 120px;
}
.img_container img{
  width: 100px;
}

.talk_container{
/* width: 100%; */
  margin-left: 20px;
}
.talk_container h1{
  text-align: start;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}
.talk_container h3{
  white-space: pre-line;
  word-break: keep-all;
  line-height: 1.35;
}