.main_container{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no_authority_container{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  height: fit-content;
}
/* .logo_container{
  width: 100%;
  display: flex;
} */
.no_authority_container h1{
  width: 100%;
  text-align: center;
  font-size: 19px;
  margin-top: 15px;
  font-weight: bold;
}
.no_authority_container h2{
  font-size: 16px;
  margin-top: 14px;
  width: 500px;
  text-align: center;
  line-height: 18px;
}
.no_authority_container h3{
  width: 100%;
  text-align: center;
  font-size: 13px;
  margin-top: 10px;
}