.user_container{
  display: flex;
  align-items: center;
  margin-top: 5px;
  cursor: pointer;
}
.user_container p{
  margin-left: 10px;
}
.user_container .verified{
  padding-left: 8px;
  color: rgb(42, 42, 231);
  display: flex;
  align-items: center;
}